html{
    animation: fade-in 1s forwards;
}
@keyframes fade-in {
    from {
        background-color: whitesmoke;
    } to {
        background-color: rgb(77, 17, 110);
    }
}
#initial-page{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    font-size: x-large;
    background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
#question-container{
    font-size: xx-large;
    color: antiquewhite;
    position: absolute;
    top: 0%;
    left: 25%;
}
#answerbuttons{
    position: absolute;
    width: auto;
    height: auto;
    top: 40%;
    left: 40%;
    display: block;
}
img{
    position: absolute;
    text-align: center;
    width: 500px;
    height: auto;
    top: 20%;
    left: 35%;
    display: block;
}