html{
    animation: fade-in 1s forwards;
}
@keyframes fade-in {
    from {
        background-color: black;
    } to {
        background-color: whitesmoke;
    }
}
#initial-page{
    position: absolute;
    width: auto;
    height: auto;
    top: 40%;
    left: 40%;
}
#answerbuttons{
    position: absolute;
    width: auto;
    height: auto;
    top: 40%;
    left: 40%;
}